form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  height: 50%;
  width: 50%;
  font-size: 25px;
}

form label {
  font-size: 15px;
}

form input {
  height: 3rem;
  border: none;
  margin: 5px;
  width: 15rem;
}

.register-screen__subtext {
  font-size: 20px;
}
